/* AntD and Bootstrap modifications */

#navbar {
  width: 100vw;
}

#navbarNavDropdown {
  align-self: flex-end;
  margin-left: 40px;
  font-size: 20px;
  justify-content: space-between;
}

.nav-item {
  margin: 0px 10px;
}

.ant-dropdown-link,
.ant-dropdown-link:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

#navbarDropdownMenuLink::after {
  content: "";
  display: none;
}

.ant-dropdown-link::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.ant-dropdown-menu {
  font-size: 18px;
}

.page-footer {
  background-color: #101935;
  color: #dbcbd8;
}

.page-footer h5 {
  color: #fff;
  font-size: 25px;
}

.page-footer a {
  color: #9ad4d6;
  text-decoration: none;
}

.page-footer a:hover {
  color: #9ad4d6;
  /* text-decoration: none; */
}

/* Utilitiea */

.shop-lamp {
  background: url("https://apollotran.com/demo/at_auros/59-large_default/hummingbird-vector-graphics.jpg")
    center center/cover no-repeat;
}

.shop-table {
  background: url("https://apollotran.com/demo/at_auros/47-home_default/mug-today-is-a-good-day.jpg")
    center center/cover no-repeat;
}

.shop-chairs {
  background: url("https://apollotran.com/demo/at_auros/49-home_default/mountain-fox-cushion.jpg")
    center center/cover no-repeat;
}

.shop-blackChair {
  background: url("https://apollotran.com/demo/at_auros/51-large_default/brown-bear-cushion.jpg")
    center center/cover no-repeat;
}

input[type="number"] {
  width: 40px;
  padding: 2px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.377);
}

.App {
  overflow-x: hidden;
}